{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'base/css/footer-navbar.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Shanti&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Saira+Stencil+One&family=Shanti&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Teko:wght@300..700&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Teko:wght@300..700&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&family=Yanone+Kaffeesatz:wght@200..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Teko:wght@300..700&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&family=Varta:wght@300..700&family=Yanone+Kaffeesatz:wght@200..700&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PFP{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'base/footer-navbar.css' %}">
    {% block extra_css %}
    {% endblock %}
</head>
<body>
    <div class="navbar">
        <ul class="list-navbar">
            <li><img class="logo" src="company-page2-pictures/Bez tytułu.png"/></li>
            <div class="navButtons">
                <li><a href="{% url 'projekty' %}" class="navBtn">PROJEKTY</a></li>
                <li><a href="{% url 'plany' %}" class="navBtn">PLAN</a></li>
                <li><a href="{% url 'kontakt' %}" class="navBtn navBtnRed">KONTAKT</a></li>
            </div>
        </ul>
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <div class="footer">
        <hr class="footer-line">
        <div class="footer-content">
            <div class="footer-text1">
                <img src="company-page2-pictures/Rectangle 42.png"/>
                <p class="footer-paragraph">
                    Kreatywne Projektowanie i Precyzyjne Programowanie Stron Internetowych – Tworzymy Strony, Które Wyróżniają się w Sieci, Zwiększają Widoczność i Realizują Twoje Cele Biznesowe
                </p>
            </div>
            <div class="footer-texts">
                <div class="footer-text">
                    <h3 class="footer-title">NASZE USŁUGI</h3>
                    <p class="footer-paragraph">Strona Główna</p>
                    <p class="footer-paragraph">Projekty</p>
                    <p class="footer-paragraph">Cennik</p>
                    <p class="footer-paragraph">Kontakt</p>
                </div>
                <div class="footer-text">
                    <h3 class="footer-title">NW JAK OPISAĆ</h3>
                    <p class="footer-paragraph">FAQ</p>
                    <p class="footer-paragraph">Polityka Prywatności</p>
                </div>
                <div class="footer-text">
                    <h3 class="footer-title">DANE KONTAKTOWE</h3>
                    <p class="footer-paragraph">+48 509 325 235</p>
                    <p class="footer-paragraph">xyz@gmail.com</p>
                    <p class="footer-paragraph">ADRES asfsd3235sd</p>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
